<%- include('./pageviews/partials/header.ejs') %>
<main>
  <h1>Menu</h1>
  <div class="menu-buttons">
    <a href="/all"
      ><button class="card">
        <i class="fas fa-car-alt"></i><i class="fas fa-car-side"></i> <br />
        Show list of all Computers
      </button></a
    >
    <a href="/getcomputer"
      ><button class="card">
        <i class="fas fa-car"></i><br />Get specific Computer
      </button></a
    >
    <a href="/insertform"
      ><button class="card">
        <i class="fas fa-plus"></i><br />Add new Computer to collection
      </button></a
    >
    <a href="/updateform"
      ><button class="card">
        <i class="fas fa-wrench"></i> <br />
        Update Computer
      </button></a
    >
    <a href="/removecomputer"
      ><button class="card">
        <i class="fas fa-trash-alt"></i><br />Remove a Computer
      </button></a
    >
  </div>
</main>
